Repository 99Problemsx/mirrorbytes-launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, documentation, data, graphics, audio, web, translation

chore: disable GitHub publishing for local builds (--publish never)
  launcher-electron/package.json
Labels: none

chore: bump version to 1.0.2
  launcher-electron/package.json
Labels: none

chore: add electron-builder icons and resources to git
  launcher-electron/build/ICON_GUIDE.md
  launcher-electron/build/icon.ico
  launcher-electron/build/icon.png
  launcher-electron/build/installer.nsh
Labels: documentation, graphics

fix: remove icon paths for macOS/Linux (use default electron icon)
  launcher-electron/package.json
Labels: none

fix: upgrade icon to 512x512 for macOS build requirements
  launcher-electron/build/icon.png
Labels: graphics

fix: add write permissions for release creation
  .github/workflows/build-multiplatform.yml
Labels: none

feat: implement delta patching system for game updates
  .github/workflows/build-multiplatform.yml
  launcher-electron/electron/main.js
  launcher-electron/electron/preload.js
  launcher-electron/games.config.json.private
  launcher-electron/package.json
  launcher-electron/src/components/GameCard.jsx
  launcher-electron/src/services/deltaPatcherService.js
Labels: javascript

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: '**/*.rb'
  - changed-files:
      - any-glob-to-any-file: 'Plugins/**'
  
javascript:
  - changed-files:
      - any-glob-to-any-file: '**/*.js'
  
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
  - changed-files:
      - any-glob-to-any-file: '**/*.txt'
  - changed-files:
      - any-glob-to-any-file: 'POKEDEX-README.md'
  
data:
  - changed-files:
      - any-glob-to-any-file: 'PBS/**'
  - changed-files:
      - any-glob-to-any-file: 'Data/**'
  - changed-files:
      - any-glob-to-any-file: 'pokemon-data.js'
  
graphics:
  - changed-files:
      - any-glob-to-any-file: 'Graphics/**'
  - changed-files:
      - any-glob-to-any-file: 'Animations/**'
  - changed-files:
      - any-glob-to-any-file: '**/*.png'
  - changed-files:
      - any-glob-to-any-file: '**/*.jpg'
  - changed-files:
      - any-glob-to-any-file: '**/*.gif'
  
audio:
  - changed-files:
      - any-glob-to-any-file: 'Audio/**'
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'
  - changed-files:
      - any-glob-to-any-file: '**/*.mp3'
  - changed-files:
      - any-glob-to-any-file: '**/*.wav'
  
web:
  - changed-files:
      - any-glob-to-any-file: '**/*.html'
  - changed-files:
      - any-glob-to-any-file: '**/*.css'
  - changed-files:
      - any-glob-to-any-file: 'index.html'
  - changed-files:
      - any-glob-to-any-file: 'style.css'
  
translation:
  - changed-files:
      - any-glob-to-any-file: 'Text_deutsch_core/**'
  - changed-files:
      - any-glob-to-any-file: 'Text_deutsch_game/**'
  - changed-files:
      - any-glob-to-any-file: 'Text_english_core/**'
