Repository 99Problemsx/mirrorbytes-launcher, changes with the labels that .github/labeler.yml gives for each.
All labels: ruby, javascript, documentation, data, graphics, audio, web, translation

.github/labeler.yml:

ruby:
  - changed-files:
      - any-glob-to-any-file: '**/*.rb'
  - changed-files:
      - any-glob-to-any-file: 'Plugins/**'
  
javascript:
  - changed-files:
      - any-glob-to-any-file: '**/*.js'
  
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'
  - changed-files:
      - any-glob-to-any-file: '**/*.txt'
  - changed-files:
      - any-glob-to-any-file: 'POKEDEX-README.md'
  
data:
  - changed-files:
      - any-glob-to-any-file: 'PBS/**'
  - changed-files:
      - any-glob-to-any-file: 'Data/**'
  - changed-files:
      - any-glob-to-any-file: 'pokemon-data.js'
  
graphics:
  - changed-files:
      - any-glob-to-any-file: 'Graphics/**'
  - changed-files:
      - any-glob-to-any-file: 'Animations/**'
  - changed-files:
      - any-glob-to-any-file: '**/*.png'
  - changed-files:
      - any-glob-to-any-file: '**/*.jpg'
  - changed-files:
      - any-glob-to-any-file: '**/*.gif'
  
audio:
  - changed-files:
      - any-glob-to-any-file: 'Audio/**'
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'
  - changed-files:
      - any-glob-to-any-file: '**/*.mp3'
  - changed-files:
      - any-glob-to-any-file: '**/*.wav'
  
web:
  - changed-files:
      - any-glob-to-any-file: '**/*.html'
  - changed-files:
      - any-glob-to-any-file: '**/*.css'
  - changed-files:
      - any-glob-to-any-file: 'index.html'
  - changed-files:
      - any-glob-to-any-file: 'style.css'
  
translation:
  - changed-files:
      - any-glob-to-any-file: 'Text_deutsch_core/**'
  - changed-files:
      - any-glob-to-any-file: 'Text_deutsch_game/**'
  - changed-files:
      - any-glob-to-any-file: 'Text_english_core/**'

fix: Update launcher update service to point to correct repo
  launcher-electron/src/services/launcherUpdateService.js
Labels: javascript

feat: Multi-game support for Achievements & Mystery Gifts - shows both games side-by-side
  launcher-electron/src/App.jsx
  launcher-electron/src/components/AchievementsPage.jsx
Labels: none

feat: Enhanced Discord Rich Presence with multi-game support and map display
  launcher-electron/electron/main.js
  launcher-electron/src/App.jsx
  launcher-electron/src/components/DiscordPage.jsx
  launcher-electron/src/components/Sidebar.jsx
  launcher-electron/src/services/discordService.js
Labels: javascript

feat: Multi-Language Support, Build System & Complete Documentation
  .github/workflows/build-release.yml
  BUILD_GUIDE.md
  RELEASE_NOTES_1.0.0.md
  SETUP_CHECKLIST.md
  launcher-electron/package.json
  launcher-electron/src/components/LanguageSelector.jsx
  launcher-electron/src/i18n/de.json
  launcher-electron/src/i18n/en.json
  launcher-electron/src/i18n/index.jsx
  launcher-electron/src/main.jsx
Labels: documentation

feat: Discord Rich Presence Multi-Game Support with Separate Applications
  .gitignore
  DISCORD_README.md
  DISCORD_SETUP.md
  DISCORD_UPDATE.md
  README.md
  launcher-electron/.env.example
  launcher-electron/src/services/discordService.js
Labels: javascript, documentation

docs: Add Discord setup TODO checklist
  DISCORD_TODO.md
Labels: documentation

docs: Add comprehensive Discord setup summary
  DISCORD_SUMMARY.md
Labels: documentation

fix: Build system fixes for production deployment
  DISCORD_UPDATE.md
  launcher-electron/electron/main.js
  launcher-electron/package.json
Labels: javascript, documentation

docs: Add comprehensive release guide for v1.0.0
  RELEASE_GUIDE.md
Labels: documentation

fix: Production build improvements
  launcher-electron/electron/main.js
  launcher-electron/package-lock.json
  launcher-electron/package.json
Labels: javascript

fix: Configure separate Discord Application IDs for multi-game Rich Presence
  launcher-electron/electron/main.js
  launcher-electron/package.json
  launcher-electron/src/services/discordService.js
Labels: javascript

feat: Production-ready build with security improvements
  launcher-electron/electron/main.js
  launcher-electron/src/App.jsx
  launcher-electron/src/components/TitleBar.jsx
Labels: javascript

feat: Complete i18n translation system for DE/EN
  launcher-electron/src/App.jsx
  launcher-electron/src/components/GameCard.jsx
  launcher-electron/src/components/Settings.jsx
  launcher-electron/src/components/TitleBar.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: i18n translation for GameCard, NewsSection, DiscordPage, UpdatesPage
  launcher-electron/src/components/DiscordPage.jsx
  launcher-electron/src/components/GameCard.jsx
  launcher-electron/src/components/NewsSection.jsx
  launcher-electron/src/components/UpdatesPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Complete i18n translation for DailyLoginPage
  launcher-electron/src/components/DailyLoginPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Complete i18n translation for AchievementsPage
  launcher-electron/src/components/AchievementsPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Add i18n keys for BackupPage, StatisticsPage, ThemeSelectorPage
  launcher-electron/src/components/BackupPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Complete i18n translation for BackupPage - all UI strings and toast messages translated
  launcher-electron/src/components/BackupPage.jsx
Labels: none

feat: Complete i18n translation for StatisticsPage
  launcher-electron/src/components/StatisticsPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Add final translation keys for StatisticsPage session details
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Complete i18n translation for ThemeSelectorPage - ALL components now 100% translated! 🎉
  launcher-electron/src/components/ThemeSelectorPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Translate NewsSection and LaunchOptionsPage - fix remaining German strings
  launcher-electron/src/components/LaunchOptionsPage.jsx
  launcher-electron/src/components/NewsSection.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Complete translation of LaunchOptionsPage - all graphics, performance and debug settings now i18n
  launcher-electron/src/components/LaunchOptionsPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Fix remaining German strings in UpdatesPage and BackupPage - 100% translation complete! 🎉
  launcher-electron/src/components/BackupPage.jsx
  launcher-electron/src/components/UpdatesPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Translate remaining UpdatesPage strings - Check for Updates, Auto Updates, Update History
  launcher-electron/src/components/UpdatesPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

feat: Complete LaunchOptionsPage translation - audio and advanced settings (100% i18n complete!)
  launcher-electron/src/components/LaunchOptionsPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

fix: Translate final German string in UpdatesPage download progress message
  launcher-electron/src/components/UpdatesPage.jsx
  launcher-electron/src/i18n/translations.js
Labels: javascript

fix: Translate all remaining German strings - LaunchOptions summary, Statistics button, Daily Login milestones
  launcher-electron/src/components/LaunchOptionsPage.jsx
  launcher-electron/src/components/StatisticsPage.jsx
  launcher-electron/src/i18n/translations.js
  launcher-electron/src/services/dailyLoginSystem.js
Labels: javascript

fix: Translate NewsFeedPage German strings to support i18n
  launcher-electron/package-lock.json
  launcher-electron/package.json
  launcher-electron/postcss.config.js
  launcher-electron/src/components/NewsFeedPage.jsx
  launcher-electron/src/i18n/translations.js
  launcher-electron/src/index.css
Labels: javascript, web

feat: prepare launcher for open source release
  .gitignore
  CONTRIBUTING.md
  LICENSE
  README_OPENSOURCE.md
  SETUP.md
  launcher-electron/.env.example
  launcher-electron/electron/main.js
  launcher-electron/games.config.example.json
  launcher-electron/mystery-gifts.config.example.json
  launcher-electron/src/App.jsx
  launcher-electron/src/components/AchievementsPage.jsx
  launcher-electron/src/components/GameCard.jsx
  launcher-electron/src/components/RewardsPage.jsx
  launcher-electron/src/components/Sidebar.jsx
  launcher-electron/src/components/UpdatesPage.jsx
  launcher-electron/src/i18n/translations.js
  launcher-electron/src/services/mysteryGiftService.js
Labels: javascript, documentation

chore: update dependencies (vite, electron, tailwindcss, recharts, wait-on)
  launcher-electron/package-lock.json
Labels: none

Fix download state persistence and cross-platform paths
  launcher-electron/electron/main.js
  launcher-electron/src/components/GameCard.jsx
Labels: javascript

feat: improve update system and fix electron-builder config
  launcher-electron/electron/main.js
  launcher-electron/electron/preload.js
  launcher-electron/package.json
Labels: javascript

chore: disable code signing for build
  launcher-electron/package.json
Labels: none

feat: add launcher updates UI with separate tab
  launcher-electron/src/components/UpdatesPage.jsx
Labels: none

fix: correct tag format for launcher updates (v instead of launcher-v)
  launcher-electron/src/services/launcherUpdateService.js
Labels: javascript

fix: add launcher update API to preload and handle private repos gracefully
  launcher-electron/electron/preload.js
  launcher-electron/games.config.json
  launcher-electron/games.config.json.private
  launcher-electron/mystery-gifts.config.json
  launcher-electron/src/components/UpdatesPage.jsx
Labels: javascript

fix: implement GitHub API-based launcher update check for dev and prod
  launcher-electron/electron/main.js
  launcher-electron/src/components/UpdatesPage.jsx
Labels: javascript

feat: add multi-platform build support (Windows + macOS)
  .github/workflows/build-multiplatform.yml
  launcher-electron/package.json
Labels: none

fix: update dependencies and fix security vulnerabilities
  launcher-electron/package-lock.json
Labels: none
